body{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-til {
  margin-left: 30px;
  color: #305dff;
}

.humbergar {
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  box-shadow: 2px 2px 8px #000;
  background-color: #305dff;
  border-radius: 5px;
}

.humbergar-top,
.humbergar-middle,
.humbergar-bottom {
  display: inline-block;
  height: 0.5px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 25%;
}

.humbergar-top {
  top: 25%;
  width: 40%;
}

.humbergar-middle {
  top: 50%;
  width: 50%;
}

.humbergar-bottom {
  bottom: 25%;
  width: 25%;
}



.back-btn{
  text-decoration: none;
  background: #e6e6e6;
  padding: 0px 7px;
  border-radius: 5px;
  box-shadow: 2px 2px 8px #000;
  margin-right: 15px;
}

.left-content{
  width: 50%;
  margin-left: 20px;
}

.left-content-header{
  display: flex;
  align-items: center;
}

.picture{
  width: 100%;
}

.content-item{
  display: flex;
  align-items: center;
  height: 20px;
  padding: 20px 0px;
}



.light-content{
  background: #305dff;
  width: 35%;
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
  position: relative;
}

.light-content-ttl{
  color: #fff;
}

.light-content-add{
  display: flex;
  flex-direction: column;
}

select{
  margin-top: 15px;
  padding: 5px;
  border-radius: 5px;
  width: 90%;
  font-weight: bold;
}

.date{
  padding: 5px;
  border-radius: 5px;
  width: 35%;
  font-weight: bold;
}

.light-content-show{
  margin-top: 20px;
  background: #4d7fff;
  color: #fff;
  border-radius: 5px;
}

th{
  padding: 16px;
}

table p{
  margin: 0;
  padding-left: 30px;
}

.reservation-btn{
  position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: transparent;
    background: #6a8aff;
    color: #fff;
    cursor: pointer;
}


/* バリデーション デザイン */
.show-error{
  background: #fff;
  border-radius: 5px;
  padding: 5px 15px;
  margin-top: 5%;
}

.error-til, .error-txt{
  margin: 0;
}

.error-til{
  font-size: larger;
}

.error-txt{
  color: red;
}

.error-txt-item{
  color: black;
}